function Wall.intitialize 1
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 0
pop local 0
push constant 2048
call Array.new 1
pop this 0
call Screen.clearScreen 0
pop temp 0
push constant 480
push constant 224
push constant 487
push constant 231
call Screen.drawRectangle 4
pop temp 0
label WHILE_EXP0
push local 0
push constant 2048
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
push argument 0
call Wall.generate_world 2
pop temp 0
push pointer 0
return
function Wall.dispose 0
push argument 0
pop pointer 0
push this 0
call Array.dispose 1
pop temp 0
push this 0
call Memory.deAlloc 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Wall.hit 2
push argument 0
pop pointer 0
push argument 1
push constant 8
call Math.divide 2
pop local 0
push argument 2
push constant 8
call Math.divide 2
pop local 1
push local 0
push constant 64
call Math.multiply 2
push local 1
add
push this 0
add
pop pointer 1
push that 0
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
return
goto IF_END0
label IF_FALSE0
push constant 0
return
label IF_END0
function Wall.draw 2
push argument 0
pop pointer 0
push argument 1
push argument 2
push argument 3
push argument 4
call Screen.drawRectangle 4
pop temp 0
push argument 1
push constant 8
call Math.divide 2
pop local 0
push argument 2
push constant 8
call Math.divide 2
pop local 1
label WHILE_EXP0
push local 0
push argument 3
push constant 8
call Math.divide 2
lt
push local 0
push argument 3
push constant 8
call Math.divide 2
eq
or
not
if-goto WHILE_END0
push argument 2
push constant 8
call Math.divide 2
pop local 1
label WHILE_EXP1
push local 1
push argument 4
push constant 8
call Math.divide 2
lt
push local 1
push argument 4
push constant 8
call Math.divide 2
eq
or
not
if-goto WHILE_END1
push local 1
push constant 64
call Math.multiply 2
push local 0
add
push this 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Wall.generate_world 0
push argument 0
pop pointer 0
push argument 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Wall.world1 1
pop temp 0
label IF_FALSE0
push argument 1
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Wall.world2 1
pop temp 0
label IF_FALSE1
push argument 1
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Wall.world3 1
pop temp 0
label IF_FALSE2
push argument 1
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Wall.world4 1
pop temp 0
label IF_FALSE3
push constant 0
return
function Wall.world1 0
push argument 0
pop pointer 0
push constant 0
return
function Wall.world2 0
push argument 0
pop pointer 0
push pointer 0
push constant 64
push constant 0
push constant 71
push constant 191
call Wall.draw 5
pop temp 0
push pointer 0
push constant 192
push constant 64
push constant 199
push constant 255
call Wall.draw 5
pop temp 0
push pointer 0
push constant 320
push constant 0
push constant 327
push constant 191
call Wall.draw 5
pop temp 0
push pointer 0
push constant 448
push constant 64
push constant 455
push constant 255
call Wall.draw 5
pop temp 0
push constant 0
return
function Wall.world3 0
push argument 0
pop pointer 0
push pointer 0
push constant 64
push constant 0
push constant 71
push constant 63
call Wall.draw 5
pop temp 0
push pointer 0
push constant 64
push constant 128
push constant 71
push constant 191
call Wall.draw 5
pop temp 0
push pointer 0
push constant 64
push constant 128
push constant 127
push constant 135
call Wall.draw 5
pop temp 0
push pointer 0
push constant 128
push constant 64
push constant 135
push constant 255
call Wall.draw 5
pop temp 0
push pointer 0
push constant 192
push constant 64
push constant 199
push constant 255
call Wall.draw 5
pop temp 0
push pointer 0
push constant 384
push constant 0
push constant 391
push constant 127
call Wall.draw 5
pop temp 0
push pointer 0
push constant 256
push constant 0
push constant 263
push constant 127
call Wall.draw 5
pop temp 0
push pointer 0
push constant 320
push constant 64
push constant 327
push constant 191
call Wall.draw 5
pop temp 0
push pointer 0
push constant 256
push constant 192
push constant 447
push constant 199
call Wall.draw 5
pop temp 0
push pointer 0
push constant 384
push constant 128
push constant 511
push constant 135
call Wall.draw 5
pop temp 0
push pointer 0
push constant 448
push constant 192
push constant 455
push constant 255
call Wall.draw 5
pop temp 0
push constant 0
return
function Wall.world4 0
push argument 0
pop pointer 0
push pointer 0
push constant 64
push constant 0
push constant 71
push constant 31
call Wall.draw 5
pop temp 0
push pointer 0
push constant 64
push constant 64
push constant 71
push constant 95
call Wall.draw 5
pop temp 0
push pointer 0
push constant 64
push constant 128
push constant 71
push constant 159
call Wall.draw 5
pop temp 0
push pointer 0
push constant 64
push constant 192
push constant 71
push constant 223
call Wall.draw 5
pop temp 0
push pointer 0
push constant 96
push constant 32
push constant 103
push constant 63
call Wall.draw 5
pop temp 0
push pointer 0
push constant 96
push constant 96
push constant 103
push constant 127
call Wall.draw 5
pop temp 0
push pointer 0
push constant 96
push constant 160
push constant 103
push constant 191
call Wall.draw 5
pop temp 0
push pointer 0
push constant 96
push constant 224
push constant 103
push constant 255
call Wall.draw 5
pop temp 0
push pointer 0
push constant 128
push constant 0
push constant 135
push constant 31
call Wall.draw 5
pop temp 0
push pointer 0
push constant 128
push constant 64
push constant 135
push constant 95
call Wall.draw 5
pop temp 0
push pointer 0
push constant 128
push constant 128
push constant 135
push constant 159
call Wall.draw 5
pop temp 0
push pointer 0
push constant 128
push constant 192
push constant 135
push constant 223
call Wall.draw 5
pop temp 0
push pointer 0
push constant 160
push constant 32
push constant 167
push constant 63
call Wall.draw 5
pop temp 0
push pointer 0
push constant 160
push constant 96
push constant 167
push constant 127
call Wall.draw 5
pop temp 0
push pointer 0
push constant 160
push constant 160
push constant 167
push constant 191
call Wall.draw 5
pop temp 0
push pointer 0
push constant 160
push constant 224
push constant 167
push constant 255
call Wall.draw 5
pop temp 0
push pointer 0
push constant 192
push constant 0
push constant 199
push constant 31
call Wall.draw 5
pop temp 0
push pointer 0
push constant 192
push constant 64
push constant 199
push constant 255
call Wall.draw 5
pop temp 0
push pointer 0
push constant 224
push constant 0
push constant 231
push constant 63
call Wall.draw 5
pop temp 0
push pointer 0
push constant 224
push constant 96
push constant 231
push constant 255
call Wall.draw 5
pop temp 0
push pointer 0
push constant 256
push constant 0
push constant 263
push constant 95
call Wall.draw 5
pop temp 0
push pointer 0
push constant 256
push constant 128
push constant 263
push constant 255
call Wall.draw 5
pop temp 0
push pointer 0
push constant 288
push constant 0
push constant 295
push constant 127
call Wall.draw 5
pop temp 0
push pointer 0
push constant 288
push constant 160
push constant 295
push constant 255
call Wall.draw 5
pop temp 0
push pointer 0
push constant 320
push constant 0
push constant 327
push constant 159
call Wall.draw 5
pop temp 0
push pointer 0
push constant 320
push constant 192
push constant 327
push constant 255
call Wall.draw 5
pop temp 0
push pointer 0
push constant 352
push constant 0
push constant 359
push constant 191
call Wall.draw 5
pop temp 0
push pointer 0
push constant 352
push constant 224
push constant 359
push constant 255
call Wall.draw 5
pop temp 0
push pointer 0
push constant 384
push constant 0
push constant 391
push constant 223
call Wall.draw 5
pop temp 0
push pointer 0
push constant 416
push constant 0
push constant 423
push constant 191
call Wall.draw 5
pop temp 0
push pointer 0
push constant 416
push constant 224
push constant 423
push constant 255
call Wall.draw 5
pop temp 0
push pointer 0
push constant 448
push constant 0
push constant 455
push constant 159
call Wall.draw 5
pop temp 0
push pointer 0
push constant 448
push constant 192
push constant 455
push constant 255
call Wall.draw 5
pop temp 0
push pointer 0
push constant 448
push constant 160
push constant 511
push constant 167
call Wall.draw 5
pop temp 0
push constant 0
return
