function Wall.intitialize 1
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 0
pop local 0
push constant 2048
call Array.new 1
pop this 0
call Screen.clearScreen 0
pop temp 0
push constant 504
push constant 127
push constant 511
push constant 135
call Screen.drawRectangle 4
pop temp 0
label WHILE_EXP0
push local 0
push constant 2048
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
call Wall.world1 1
pop temp 0
push pointer 0
return
function Wall.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Wall.hit 2
push argument 0
pop pointer 0
push argument 1
push constant 8
call Math.divide 2
pop local 0
push argument 2
push constant 8
call Math.divide 2
pop local 1
push local 0
push constant 64
call Math.multiply 2
push local 1
add
push this 0
add
pop pointer 1
push that 0
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
return
goto IF_END0
label IF_FALSE0
push constant 0
return
label IF_END0
function Wall.world1 2
push argument 0
pop pointer 0
push constant 119
push constant 0
push constant 511
push constant 87
call Screen.drawRectangle 4
pop temp 0
push constant 14
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push constant 63
lt
push local 0
push constant 63
eq
or
not
if-goto WHILE_END0
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push constant 10
lt
push local 1
push constant 10
eq
or
not
if-goto WHILE_END1
push local 1
push constant 64
call Math.multiply 2
push local 0
add
push this 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
